<div class="container">
    <div class="row">
        <ng-container *ngFor="let p of products">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <img [src]="p.productImage" class="card-img-top" height="270" width="150">
                </div>
                <div class="card-body" *ngIf="!p.productEdit">
                    <h4 class="card-title">{{p.productDescription}}</h4>
                    <p class="card-text">Company:{{p.productCompany}}</p>
                    <p class="card-text">Price:{{p.productPrice | currency:'INR'}}</p>
                </div>
                <div class="card-body" *ngIf="p.productEdit">
                    <input type="text"name="p" [(ngModel)]="p.productDescription">
                    <input type="text"name="p" [(ngModel)]="p.productCompany">
                    <input type="text"name="p" [(ngModel)]="p.productPrice">
                </div>
               <div>
                <button class="btn btn-primary" *ngIf="!p.productEdit" (click)="toUpdate(p)">Update</button>
                <button class="btn btn-success" *ngIf="p.productEdit" (click)="toSave(p)">Save</button>
                <button class="btn btn-warning"  (click)="delete(p)">Delete</button>
               </div>
            </div>
        </div>
        </ng-container>
    </div>
</div>
