<p>contact works!</p>
<div class="container"id="contact">
    <div class="row" style="margin-top:50px;">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <i class="fas fa-phone">phone</i>
                <h6>+91</h6>
            </div>
        </div>
        </div>
        </div>
        <div class="container"id="contact">
            <div class="row" style="margin-top:50px;">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <i class="fas fa-envelope">email</i>
                        <h6>examplegmail.com</h6>
                    </div>
        </div>
        </div>
        </div>
        <div class="container"id="contact">
            <div class="row" style="margin-top:50px;">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <i class="fas fa-location-dot">Address</i>
                        <h6>benz circle,vijayawada</h6>
                    </div>
        </div>
    </div>
</div>
