<div class="container">
    <div class="row">
        <ng-container *ngFor="let p of products">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <img [src]="p.productImage" class="card-img-top" height="270" width="150">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{p.productDescription}}</h4>
                    <p class="card-text">company:{{p.productCompany}}</p>
                    <p class="card-text">price:{{p.productPrice }}</p>
                </div>
                <div class="card-footer">
                <button class="btn btn-primary" (click)="addtocart(p)">Add to cart</button>
                <button class="btn btn-danger">buy now</button>
                </div>
            </div>
        </div>
    </ng-container>
    </div>
</div>